/* css reset */

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
form,
input,
textarea,
button,
span,
table,
td,
tr,
th,
thead,
tbody,
select,
option,
pre,
code,
blockquote,
em,
strong,
small,
img,
iframe,
nav,
footer,
header,
section,
article,
aside,
figure,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  /* vertical-align: baseline; */
  color: var(--text-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  /* vertical-align: baseline; */
  /* outline: none; */
  background-color: var(--background-color);
}

:root {
  --text-color: whitesmoke;
  --background-color: #3b3b3b;
  --border-color: rgba(188, 143, 143, 0.71);
  --background-light: rgba(167, 167, 167, 0.629);
  --golden-color: #e6a439;
}

button {
  background: var(--background-light);
  text-transform: uppercase;
  font-size: large;
}
button:hover {
  background-color: var(--border-color);
}
